.center{
    margin-top: 30px;
    text-align: center;
}

.header {
    font-size: 20px;  

    nav{
        margin: 20px;
        padding-bottom: 10px;
        height: 30px;
    }
    ul{
        
        text-align: center;
        
    }
    li{
        display: inline;
        
    }
    a{
       position: relative;
        color: black;
        text-decoration: none;
       
       
    }a::after{
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333; 
        bottom: -1px;//アンダーラインがaタグの下端から現れる
        transform: scale(0, 1); //アンダーラインの縮尺比率。ホバー前はx方向に0
        transform-origin: left top; //変形(アンダーラインの伸長)の原点がaタグ(各メニュー)の左端
        transition: transfrom 0.1s; //変形の時間
    }a:hover::after{
        transform: scale(1, 1); //ホバー後、x軸方向に1(相対値)伸長
        transform-origin: right;
    };
}

.top-img{
    padding: 100px;
    img{
        transition-duration: 0.5s;
    }
    img:hover{
        text-decoration: 0.5s;
        transform: scale(1.1);
    }
}
body {
    
    background-repeat: no-repeat;
    
    
    //background-image: url(IMG_1262.jpg);
}



//自己PRページ用↓
.pr-top {
    width: 50%;
    float: left;
    .img-1{
        margin-top: 12px;
        text-align: center;
       
    }
    h2{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    h3{
        text-align: center;
        text-decoration: underline;
    }
    p{
        text-align: center;
    }

}

.pr-sentence{
    width: 50%;
    float: right;
    background-color: rgb(254, 198, 95);
    margin-top: 10px;
    height: 200%;
    h3 {
        text-align: center;
    }
    p{
        padding: 40px;
        text-align: center;
    }p::before {
        content: "\A";
        white-space: pre-wrap;
    }
}