.center {
  margin-top: 30px;
  height: 80%;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav {
  margin: 20px;
  padding-bottom: 10px;
  height: 30px;
}

.header ul {
  text-align: center;
}

.header li {
  display: inline;
  margin: 0px 10px 0px 20px;
}

.header .tabu {
  display: inline-block;
  color: black;
  text-underline-offset: 0.4em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .tabu:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header p {
  text-align: center;
}

@media all and (min-width: 300px) {
  .top-img {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-img img {
    max-width: 350px;
    width: 50%;
    height: auto;
    border-radius: 10px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .top-img img:hover {
    -webkit-text-decoration: 0.5s;
            text-decoration: 0.5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

body {
  background-repeat: no-repeat;
}

.footer {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  width: 100%;
  height: 70px;
  padding: 10px 0;
  background-color: black;
  opacity: 0.8;
  color: #fff;
}

.footerInner {
  margin-bottom: 10px;
}

.pr-all {
  font-family: "Noto Sans JP", sans-serif;
}

.pr-all .pr-top {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 80px;
  display: block;
}

.pr-all .pr-top .pr-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pr-all .pr-top .pr-item:not(:last-child) {
  margin-bottom: 80px;
}

.pr-all .pr-top .pr-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pr-all .pr-top img {
  display: block;
  width: 48%;
  height: auto;
  margin-top: 12px;
  border-radius: 10px;
}

.pr-all .pr-top .fadein-before {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.pr-all .pr-top .fadein-after {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.pr-all .pr-top h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.pr-all .pr-top p {
  text-align: center;
  margin-bottom: 10px;
}

.pr-all .pr-top .fadein {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.pr-all #my,
.pr-all #hobby,
.pr-all #job,
.pr-all #school,
.pr-all #license,
.pr-all #kinniku {
  width: 48%;
}

@media screen and (max-width: 767px) {
  .pr-all {
    font-family: "Noto Sans JP", sans-serif;
  }
  .pr-all .pr-top {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 80px;
    display: block;
  }
  .pr-all .pr-top .pr-item {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pr-all .pr-top .pr-item:not(:last-child) {
    margin-bottom: 80px;
  }
  .pr-all .pr-top .pr-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .pr-all .pr-top img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 12px;
    border-radius: 10px;
  }
  .pr-all .pr-top .fadein-before {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
  }
  .pr-all .pr-top .fadein-after {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .pr-all .pr-top h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .pr-all .pr-top p {
    text-align: center;
    margin-bottom: 10px;
  }
  .pr-all .pr-top .fadein {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .pr-all #my,
  .pr-all #hobby,
  .pr-all #job,
  .pr-all #school,
  .pr-all #license,
  .pr-all #kinniku {
    width: 48%;
  }
}

.tab-group {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  text-align: center;
}

.tab-group li {
  text-align: left;
  display: inline-block;
  font-size: 20px;
}

.panel-group {
  font-family: "Noto Sans JP", sans-serif;
  border: solid 1px #ccc;
  border-top: none;
  background: #eee;
  padding-top: 10px;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 60px;
}

.panel-group h1 {
  font-weight: 500;
  font-size: 4vmin;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.panel-group .create {
  text-align: center;
  margin: 0px 5px 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-group .create p {
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  text-align: left;
}

.panel-group .create a {
  position: relative;
  color: #d00000;
  text-decoration: none;
  border: 2px solid;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
}

.panel-group .create a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #333;
  bottom: -1px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: transfrom 0.1s;
  transition: transfrom 0.1s;
}

.panel-group .create a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.panel-group img {
  max-width: 80%;
  margin-bottom: 15px;
}

.tab {
  font-size: 3vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  list-style: none;
  border: solid 1px #ccc;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: #eee;
  color: #000000;
}

.tab.is-active {
  background: #eb6100;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.panel {
  display: none;
}

.panel.is-show {
  display: block;
}
/*# sourceMappingURL=main.css.map */