.center {
    margin-top: 30px;
    height: 80%;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
}

.header {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;

    nav {
        margin: 20px;
        padding-bottom: 10px;
        height: 30px;
    }
    ul {
        text-align: center;
    }
    li {
        display: inline;
        margin: 0px 10px 0px 20px;
    }
    .tabu {
        // position: relative;
        display: inline-block;
        color: black;
        text-underline-offset: 0.4em;
        transition: 0.3s;
    }
    .tabu:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
    // a::after {
    //     position: absolute;
    //     bottom: -4px;
    //     left: 0;
    //     content: "";
    //     width: 100%;
    //     height: 2px;
    //     background: #333;
    //     bottom: -1px; //アンダーラインがaタグの下端から現れる
    //     transform: scale(1, 1); //アンダーラインの縮尺比率。ホバー前はx方向に0
    //     transform-origin: left top; //変形(アンダーラインの伸長)の原点がaタグ(各メニュー)の左端
    //     transition: transfrom 0.1s; //変形の時間
    // }
    // a:hover::after {
    //     transform: scale(0, 1); //ホバー後、x軸方向に1(相対値)伸長
    //     transform-origin: right;
    // }
    p {
        text-align: center;
    }
}
@media all and (min-width: 300px) {
    .top-img {
        margin-top: 100px;
        display: flex;
        flex-flow: column;
        align-items: center;
        img {
            max-width: 350px;
            width: 50%;
            height: auto;
            border-radius: 10px;
            transition-duration: 0.5s;
        }
        img:hover {
            text-decoration: 0.5s;
            transform: scale(1.1);
        }
    }
}
body {
    background-repeat: no-repeat;

    //background-image: url(IMG_1262.jpg);
}
.footer {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    background-color: black;
    opacity: 0.8;
    color: #fff;
}
.footerInner {
    margin-bottom: 10px;
}

//自己PRページ用↓
// @media all and (max-width: 767px) {
    .pr-all {
        font-family: "Noto Sans JP", sans-serif;
        // height: 100vh;
        // max-width: 100%;

        // margin-left: auto;
        // margin-right: auto;
        // display: block;
        .pr-top {
            margin-left: auto;
            margin-right: auto;
            // display: block;
            width: 60%;
            margin-bottom: 80px;
            display: block;
            // height: 100%;
            .pr-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                &:not(:last-child) {
                    margin-bottom: 80px;
                }

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }

            img {
                display: block;
                width: 48%;
                // max-width: 100%;
                height: auto;
                margin-top: 12px;
                border-radius: 10px;
                // position: absolute;
                //object-fit: cover;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // margin-left: 100px;
            }
            .fadein-before {
                opacity: 0;
                transform: translateX(-100px);
                transition: opacity 1s, transform 1s;
            }
            .fadein-after {
                opacity: 1;
                transform: translate(0);
            }

            h3 {
                text-align: center;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            p {
                text-align: center;
                margin-bottom: 10px;
            }

            .fadein {
                opacity: 1;
                transform: translateX(0);
            }
        }

        #my,
        #hobby,
        #job,
        #school,
        #license,
        #kinniku {
            width: 48%;
        }

    }
// }
@media screen and (max-width:767px){
    .pr-all {
        font-family: "Noto Sans JP", sans-serif;
        // height: 100vh;
        // max-width: 100%;

        // margin-left: auto;
        // margin-right: auto;
        // display: block;
        .pr-top {
            margin-left: auto;
            margin-right: auto;
            // display: block;
            width: 60%;
            margin-bottom: 80px;
            display: block;
            // height: 100%;
            .pr-item {
                display: block;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                &:not(:last-child) {
                    margin-bottom: 80px;
                }

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }

            img {
                display: block;
                width: 48%;
                // max-width: 100%;
                height: auto;
                margin-top: 12px;
                border-radius: 10px;
                // position: absolute;
                //object-fit: cover;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // margin-left: 100px;
            }
            .fadein-before {
                opacity: 0;
                transform: translateX(-100px);
                transition: opacity 1s, transform 1s;
            }
            .fadein-after {
                opacity: 1;
                transform: translate(0);
            }

            h3 {
                text-align: center;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            p {
                text-align: center;
                margin-bottom: 10px;
            }

            .fadein {
                opacity: 1;
                transform: translateX(0);
            }
        }

        #my,
        #hobby,
        #job,
        #school,
        #license,
        #kinniku {
            width: 48%;
        }

    }
}

//紹介ページ
.tab-group {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;

    text-align: center;
    & li {
        text-align: left;
        display: inline-block;
        font-size: 20px;
    }
}
.panel-group {
    font-family: "Noto Sans JP", sans-serif;
    border: solid 1px #ccc;
    border-top: none;
    background: #eee;
    padding-top: 10px;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 60px;
    & h1 {
        font-weight: 500;
        font-size: 4vmin;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .create {
        text-align: center;
        margin: 0px 5px 10px 5px;
        display: flex;
        flex-flow: column;
        align-items: center;
        & p {
            margin-top: 15px;
            padding: 10px 10px 10px 10px;
            display: inline-block;
            text-align: left;
        }
        a {
            position: relative;
            color: rgb(208, 0, 0);
            text-decoration: none;
            border: 2px solid;
            padding: 5px;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
        }
        a::after {
            position: absolute;
            bottom: -4px;
            left: 0;
            content: "";
            width: 100%;
            height: 2px;
            background: #333;
            bottom: -1px; //アンダーラインがaタグの下端から現れる
            transform: scale(0, 1); //アンダーラインの縮尺比率。ホバー前はx方向に0
            transform-origin: left top; //変形(アンダーラインの伸長)の原点がaタグ(各メニュー)の左端
            transition: transfrom 0.1s; //変形の時間
        }
        a:hover::after {
            transform: scale(1, 1); //ホバー後、x軸方向に1(相対値)伸長
            transform-origin: right;
        }
    }
    & img {
        max-width: 80%;
        margin-bottom: 15px;
    }
}
.tab {
    font-size: 3vw;
    flex-grow: 1;
    padding: 5px;
    list-style: none;
    border: solid 1px #ccc;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background: #eee;
    color: #000000;

    &.is-active {
        background: #eb6100;
        color: #fff;
        transition: all 0.2s ease-out;
    }
}
.panel {
    display: none;
    &.is-show {
        display: block;
    }
}
