a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
  }
  a.btn--orange:hover {
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
  }
  a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }

  HTML CSSResult Skip Results Iframe
EDIT ON
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 140%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;

  
  
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

.startbutton a {
    position: absolute;
    left: 46%;
    top: 300px; 
    

    
    
    
    
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	text-align: center;
}

.title::before,
.title::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #e3bf00;
}

.title::before {
	margin-right: 20px;
}
.title::after {
	margin-left: 20px;
}

body {
  background-image: url("back.png");
}
/*Topページへ戻るボタン*/
.back-top a{
  color: #fff;
  background-color: #eb6100;
  font-size: 20px;
  padding: 8px;
  border-radius: 15px;
  text-decoration: none;

}
.back-top  a:hover{
  color: #fff;
  background-color: #f56500;
}
  